@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.timer-container{
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid teal;
    border-radius: 10px;
}

span{
    padding: 0 5px;
}

.timer-time{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 50px;
    width: 95px;
}