.container{
    display: flex;
    justify-content: center;
    background-image: url('../img/bmwField.jpg');
    background-size: cover;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px solid #ffffff;
    border-radius: 20px;
}

.playing-field{
    margin: 20px 0;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 20px;
}

.playing-card{
    position: relative;
    height: 150px;
    width: 130px;
    cursor: pointer;
}


.playing-card__back{
    position: absolute;
    height: 150px;
    width: 130px;
    background-color: teal;
    border-radius: 5px;
    transition: background-color 500ms;
    z-index: 1;
}

.playing-card__back--active{
    background-color: transparent ;
    transition: background-color 1s;
    z-index: 0;
}

.playing-card__image{
    position: absolute;
    width: 130px;
    height: 150px;
    transform: scale(-1,1);
    transition: transform 1s;
    user-select: none;
    z-index: 0;
}

.playing-card__image--active{
    transform: scale(1);
    transition: transform 1s ease;
    z-index: 1;
}

.btn-container{
    height: 50px;
}

.btn-retry{
    padding: 10px 20px;
    border-radius: 2px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    transition: all 1s;
}

.btn-retry:hover{
    border: 2px solid rgb(255, 136, 0);
    background-color: teal;
    color: white;
    transition: all 1s;
}

.btn-retry:active{
    box-shadow: 2px 2px teal;
    transition: box-shadow 200ms;
}

.playing-card__back--opened{
    opacity: 0;
    border: 2px solid teal;
    transition: boeder 2s;
    z-index: 2;
}

.playing-card__image--opened{
    transform: scale(1);
    z-index: 2;
}