@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.button{
    width: 100px;
    height: 50px;
    padding: 10px;
    border: 2px solid teal;
    border-radius: 2px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: all 1s;
}

.button:hover{
    border: 2px solid rgb(202, 100, 16);
    background-color: transparent;
    color: #ffffff;
    transition: all 500ms;
}

.button--active{
    border: 5px solid rgb(0, 255, 0);
    background-color: transparent;
    color: #ffffff;
    transition: all 500ms;
}