@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.input{
    width: 400px;
    height: 40px;
    padding: 10px 15px;
    outline: none;
    border: 2px solid teal;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    color: rgb(80, 79, 79);
}