@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../img/bmwFon.jpg');
    background-size: cover;
}

.login-container{
    width: 500px;
    height: 350px;
    background-color: transparent;
    border: 2px solid rgb(202, 100, 16);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-level-container{
    height: 50px;
}

.login-level{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
}

.login-buttons-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
